/* File containing all design choice of the website not using Bootstrap framework */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  /*background: black !important; /*!important force to override*/
}

#search {
  width: 300px;
}

table {
  font-family: helvetica;
  width: 100%;
}

td, th {
  text-align: center;
}

