<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come *after* these tags -->

    <link rel="icon" href="bootstrap/docs/favicon.ico">
    <title>Database</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="styles/theme.css" rel="stylesheet">

    <!-- Chosen jQuery Stylesheet -->
    <link href="styles/ext/chosen.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="scripts/ext/jquery.js"></script>

    <!-- Chosen jQuery -->
    <script src="scripts/ext/chosen.jquery.min.js"></script>

</head>
<body>
<!-- Black topbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Database</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Search<span class="sr-only">(current)</span></a></li>
                <li><a href="insertDelete.html">Insert/Delete</a></li>
                <li><a href="about.html">About</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Content of the Page -->
<div class="container">
    <!-- Page Header -->
    <div class="page-header" id="page_header">
        <h1>Comic Books <small>Search</small></h1>
    </div>

    <!-- Search Fields -->
    <div class="row">
        <div class="col-md-8">
            <h3>Custom Query</h3>
                <div class="col-md-6 form-group">
                    <form class="form-inline">
                    <label for="search" class="sr-only">Search</label>
                    <input type="txt" class="form-control" id="search" placeholder="Search" required>

                    in

                    <select data-placeholder="Select table" style="width:275px;" multiple class="chosen-select-no-results" tabindex="11" id="search_tables">
                        <option value=""></option>
                        <option value="0">Artist</option>
                        <option value="1">Brand Group</option>
                        <option value="2">Character</option>
                        <option value="5">Country</option>
                        <option value="6">Indicia_Publisher</option>
                        <option value="8">Issue</option>
                        <option value="9">Issue reprint</option>
                        <option value="10">Language</option>
                        <option value="12">Publisher</option>
                        <option value="14">Series</option>
                        <option value="15">Series Publication Type</option>
                        <option value="16">Story</option>
                        <option value="17">Story Reprint</option>
                        <option value="18">Story Type</option>
                    </select>

                    <button class="btn btn-info" id="search_button" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                        Search
                    </button>
                    </form>
                    <!-- Output Table -->
                    <div id="result_part">
                        <h3>Result</h3>
                        <div>
                            <table class="table table-bordered table-striped table-responsive" id="output_table"></table>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Given Queries Table -->
        <div class="col-md-4">
            <h3>Constructed Queries</h3>
            <table class="table table-hover table-bordered table-responsive" id="constructed_query_table">
                <tr>
                    <th id="given_search_brand_group">The Brand Group names with the highest number of Belgian indicia publishers</th>
                </tr>
                <tr>
                    <th id="given_search_danish_publishers">The identities and names of publishers of Danish book series</th>
                </tr>
                <tr>
                    <th id="given_search_swiss_series">The names of all Swiss series published in magazines</th>
                </tr>
                <tr>
                    <th id="given_search_since_1990">The number of issues published each year since 1990</th>
                </tr>
                <tr>
                    <th id="given_search_DC_comics">The number of series for each indicia publisher whose name resembles 'DC comics'</th>
                </tr>
                <tr>
                    <th id="given_search_10_most_reprinted">The titles of the 10 most reprinted stories</th>
                </tr>
                <tr>
                    <th id="given_search_artists">The artists that have scripted, drawn, and colored at least one of the stories they were involved in</th>
                </tr>
                <tr>
                    <th id="given_search_Batman_non_reprinted">All non-reprinted stories involving Batman as a non-featured character</th>
                </tr>
            </table>
        </div>

    </div>

</div>


<!-- javascript -->
<script src="scripts/main.js"></script>
<script src="scripts/constructed.js"></script>
<script src="scripts/search.js"></script>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>window.jQuery || document.write('<script src="styles/framework/bootstrap-3.3.7/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
